.gitignore
main
test_main
source/.obj/*.o
source/.obj/deps/*.d
source/test/.obj/*.o
source/test/.obj/deps/*.d
source/*.deactivate
source/test/*.deactivate
include/*.deactivate
TODO.txt
documentation/UML_Diagram.xmi
notes/*
check.cpp
check
